.tip-section {
  .tip-buttons {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 0.6rem;
  }

  [type="radio"] {
    display: none;
  }

  .tip-btn {
    outline: none;
    display: block;
    background-color: $very-dark-cyan;
    color: #fff;
    border: none;
    border-radius: $input-border-radius;
    padding: 0.6rem 0;
    font-size: 1.4rem;
    font-weight: $input-font-weight;
    text-align: center;

    &:hover {
      cursor: pointer;
    }
  }

  [type="radio"]:checked ~ .tip-btn {
    background-color: $strong-cyan;
    color: $very-dark-cyan;
  }

  .tip-custom {
    @extend .tip-btn;
    background-color: $very-light-grayish-cyan;
    color: $dark-grayish-cyan;
  }

  .tip-custom-input-group {
    background-color: $very-light-grayish-cyan;
    border-radius: $input-border-radius;
    border: 2px solid transparent;
    display: flex;
    justify-content: flex-end;

    .tip-custom-input {
      outline: none;
      border: none;
      background-color: $very-light-grayish-cyan;
      border-radius: $input-border-radius;
      text-align: right;
      color: $very-dark-cyan;
      font-family: $font-family;
      font-size: 1.4rem;
      font-weight: $input-font-weight;
    }

    &:focus-within {
      border: 2px solid $strong-cyan;
    }

    .percent {
      margin-left: 0.6rem;
      margin-right: 1rem;
      align-self: center;
      font-size: 1.8rem;
      font-family: $font-family;
      font-weight: 700;
      color: $very-dark-cyan;
    }
  }
}
