@import "variables";
@import "main";
@import "bill";
@import "tip";
@import "people";
@import "result";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Mono", monospace;
  background-color: $light-grayish-cyan;
}

.header {
  display: grid;
  place-content: center;
  margin-top: 5rem;
  margin-bottom: 3rem;

  img {
    width: 100%;
    height: auto;
  }

  @media screen and (min-width: 1280px) {
    .header {
      margin-bottom: 5rem;
    }
  }
}
